################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ZkURLManager
/ZkURLManager/bin/Debug/net8.0-windows
/ZkURLManager/obj
/.vs/CopilotSnapshots/57AB4EEF2026B241B03CAB4E4CA1E2FD
/.vs/ProjectEvaluation
