################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ZkURLManager
/ZkURLManager/bin/Debug/net8.0-windows
/ZkURLManager/obj
